<header class="header">
  <div class="heading-wrapper">
      <h1 class="website-title">Caique de Castro</h1>
      <h2 class="website-subtitle">Software developer</h2>
  </div>
  <nav class="navigation">
    <a id="menu-toggle" href="#" class="menu-toggle" title="open menu">Menu</a>
    <ul id="menu" class="menu">
      {% for link in site.data.menu.navigation %}
          {% assign current = nil %}
          {% if page.url == link.url or page.layout == link.layout %}
            {% assign current = 'active' %}
          {% endif %}
          <li class="menu-item {{ current }}">
            <a class="menu-link" href="{{ link.url }}">{{ link.text }}</a>
          </li>
      {% endfor %}
    </ul>
  </nav>
</header>
