.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.social-item {
  display: inline-block;
  position: relative;
}

.social-link {
  display: block;
  margin: 10px;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  z-index: 2;
  opacity: .7;
  transition: opacity .5s linear;

  background-image: url("/images/sprite.png");
}

.social-link:hover {
  opacity: 1;
}

.social-link span {
  display: none;
}

.social-link:after,
.social-link:before {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.social-link:hover:after,
.social-link:hover:before {
  opacity: 1;
  visibility: visible;
}

.social-link:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
}

.social-link:after {
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

.twitter {
  background-position: -4px -3508px;
}

.linkedin {
  background-position: -4px -1924px;
}

.curriculum {
  background-position: -4px -388px;
}

.github {
  background-position: -4px -1252px;
}

.mail {
  background-position: -4px -772px;
}

.rss {
  background-position: -4px -2788px;
}
