@mixin user-select() {
  -webkit-user-select: none; /* Chrome all / Safari all                   */
  -moz-user-select: none;    /* Firefox all                               */
  -ms-user-select: none;     /* IE 10+                                    */
  -o-user-select: none;      /* No support for these yet, use at own risk */
  user-select: none;         /* No support for these yet, use at own risk */
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin flexbox() {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10                            */
  display: -webkit-flex;     /* NEW - Chrome                               */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+        */
}

@mixin flex-direction() {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}