.intro {
  text-align: center;
  width: 100%;
}

.welcome-message {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  margin: 0;
}

.welcome-description {
  text-align:center;
  margin: 0;
}

.latest-posts {
	list-style: none;
}