@import "header", "index", "navigation", "footer", "jobs", "blog";

.content {
  flex: 1 0 auto;
  width: 100%;
  //display: flex;
  // align-items: center;
  //flex-direction: column;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 1% auto;
  background-color: #fff;
  padding: 1px 2% 2% 2%; //hack here
  //box-shadow: -2px -2px 5px 5px #000;
  color: #2f2f2f;
  p {
    line-height: 200%;
    //text-indent: 3em;
  }
  ul {
    line-height: 200%;
    margin: 0;
    padding: 0 2em;
    list-style-position: inside;
  }
}

.intro {
  //background-color: rgba(0,0,0,.3);
  align-self: center;
}

.special-title {
  font-size: 5em;
  font-weight: bolder;
  text-align: center;
}

.special-text {
  font-size: 2em;
  text-align: center;
}