---
# Only the main Sass file needs front matter (the dashes are enough)
---
/* ================================================
   Properties ordering
   ===============================================

    * Positioning
    * Display & Box Model
    * Typography
    * Visual
    * Misc / Others
*/

@charset "utf-8";

// Text variables
$base-font-family: 'Arimo', 'Trebuchet MS', Tahoma, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

//Colors
$white:            #fff;
$black:            #000;
$grey-color:       #808080;

$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 30%);

$text-color:       $white;
$background-color: $grey-color-dark;
$link-color:       #002A61;

// $background-image: "/images/work-677582_1280.jpg";
// $background-image: "/images/macbook-577758_1920.jpg";
// $background-image: "/images/newspaper-595478_1920.jpg";
// $background-image: "/images/office-605503_1920.jpg";
// $background-image: "/images/tablet-600649_1920.jpg";
// $background-image: "/images/work-731198_1920.jpg";
// $background-image: "/images/laptop-673711_1920.jpg";
// $background-image: "/images/imac-605421_1280.jpg";
// $background-image: "/images/pc-667863.png";
// $background-image: "/images/notebook-405755_1280.jpg";
// $background-image: "/images/home-office-336373_1280.jpg";
$background-image: "/images/startup-593328_1920.jpg";

//Breakpoints
$mobile:           47em;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "includes",
        "normalize",
        "base",
        "layout",
        "forms",
        "syntax-highlighting";
